@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

/*font-family: 'Bebas Neue', cursive;
font-family: 'Chivo Mono', monospace;
*/
/* Color Theme Swatches in Hex */


:root {
    --rosa-claro: #F26B83;
    --rosa: #d84d64;
    --rosa-escuro: #8C3048;
    --preto-claro: #424A59;
    --branco: #F0F2F2;
    --preto-shadow: #cfd6e4;

    --fonte-padrao: 'Chivo Mono', monospace, Arial, sans-serif, 'cursive';
    --fonte-destaque: 'Bebas Neue', sans-serif, 'cursive';
    --fonte-destaque2: 'Montserrat', sans-serif, 'cursive';
}
* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: white;
    font-family: var(--fonte-padrao);
    
   
}

header > h1 {
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    color: white;
    
}
header > p {
    font-family: var(--fonte-destaque2);
    color: var(--rosa-claro);
    font-size: 1.3em;
    max-width: 500px;
    margin: auto;
}
header {
    background-color: var(--preto-claro);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    
}
nav {
    background-color: var(--rosa-claro);
    padding: 10px;
    max-width: 100%;
    text-align: center;
}
.a-style {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;

}
.a-style:hover {
    background-color: var(--rosa);
    color: black;    
}
.a-retorno {
    text-decoration: none;
    color: black;
}
.a-retorno::after {
    content: '\00a0\2B06';
}
.a-retorno:hover {
    color: var(--rosa-claro);
}
.a-none {
    
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.drake::after {
    content: '\00a0\1F480';
}
main {
    background-color: var(--branco);
    min-width: 320px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px  0px 10px var(--preto-shadow);
    line-height: 1.4em;
    margin-top: -14px;   
   
}
main > article > p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;

}
.t1 {
    padding-top: 15px;
}
main > article > h1, h2, h3 {
    margin: 15px 0px 15px 0px;
}
main > strong {
    color: var(--rosa);
    font-weight: bold;
    background-color: var(--preto-shadow);
}
main > article > p > a {
    text-decoration: none;
    color: var(--rosa-claro);
    font-size: medium;
    
}
main > article > p > a:hover {
    color: var(--rosa-claro);
    text-decoration: underline;
}
main > article > h2 {
    font-size: 1.3em;
}
article {
    padding-bottom: 15px;
}
img {
    display: block;
    margin: auto;
    
}
picture {
    display: inline-block;
    vertical-align: top;
}
div.vid {
    
    margin: 0px -10px 0px -10px;
    padding: 20px;
    padding-bottom: 55%;
    margin-bottom: 15px;
    position: relative;
}
div.vid > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: var(--rosa-claro);
    text-align: center;
    font-size: 0.8;
    padding: 5px;
    
}
aside {
    background-color: var(--preto-shadow);
    padding: 10px;
    border-radius: 10px;
   
}
aside > ul{
    list-style-position: inside;

}
aside > ul > li {
    padding: 3px;
}
aside > h3 {
    color: white;
    background-color: var(--preto-claro);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
    margin-bottom: 15px;

}
#matis {
    width: 90%;
    
}
